<div id="header">
	<div id="logo">
		<a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200" /></a>
	</div>
	<div id="navigation">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li class="{{#if selectedTravel}}selected{{/if}}">
				<a href="/travel">Travel</a>
			</li>
			<li class="{{#if selectedRooms}}selected{{/if}}">
				<a href="/rooms">Rooms</a>
			</li>
			<li class="{{#if selectedMeals}}selected{{/if}}">
				<a href="/meals">Meals</a>
			</li>
			<li class="{{#if selectedNews}}selected{{/if}}">
				<a href="/news">News</a>
			</li>
			<li class="{{#if selectedAbout}}selected{{/if}}">
				<a href="/about">About</a>
			</li>
			<li class="{{#if selectedContact}}selected{{/if}}">
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
</div>